:root {
    --dark-grey: #BFBFBF;
    --light-grey: #E5E5E5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light-grey);
}

/* HEADER STYLE START */

#header {
    display: flex;
    justify-content: space-between;
    max-height: 100px;
    padding: 15px 50px 10px 50px;
    background-color: var(--dark-grey);
    transition: 0.5s;
}

#header:hover {
    transform: scale(1.005);
    box-shadow: 0 5px 15px #404040;
}

.logo_wrapper {
    display: flex;
    width: 80px;
    height: 80px;
}

.logo_wrapper img {
    width: 100%;
}

.heading_name {
    height: 70px;
    padding: 5px 0 0 10px;
    justify-content: center;
    border-left: 2px solid black;
}

.heading_name h1,
.heading_name h3,
.navbar_header_li {
    font-family: 'Tenor Sans', sans-serif;
}

.heading_name h3 {
    letter-spacing: 11px;
}

.navbar_header_ul {
    display: flex;
}

.navbar_header_li {
    display: inline-block;
    height: 70px;
    margin: 0 15px;
    padding: 25px 10px 5px 10px;
    letter-spacing: 2px;
    border-radius: 0 0 5px 5px;
    list-style-type: none;
    transition: 0.5s;
}

.navbar_header_li:hover {
    transform: scale(1.05);
    box-shadow: 0 30px 15px #404040;
}

.navbar_header_li a,
.main_li a{
    color: black;
    font-size: 20px;
    text-decoration: none;
}

a:visited {
    color: black;
}

/* HEADER STYLE END */

/* MAIN LEFT SECTION STYLE START */

.main {
    display: flex;
    height: 70vh;
}

.main_left_side {
    min-width: 40%;
}

.main_ul {
    margin: 20px;
    padding: 5px;
    height: 100%;
}

.main_li {
    height: 80px;
    padding: 5% 0 0 33%;
    list-style-type: none;
    letter-spacing: 1px;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 10px 10px #BFBFBF;
    transition: 0.5s;
}

.main_li:hover {
    transform: scale(1.02);
    box-shadow: 0 30px 15px #404040;
}

.main_left_side h3,
.main_right_side h3 {
    margin: 20px 0 20px 20px ;
    font-size: 25px;
    font-family: 'Tenor Sans', sans-serif;
    letter-spacing: 2px;
}

/* MAIN LEFT SECTION STYLE END */