:root {
    --dark-grey: #BFBFBF;
    --light-grey: #E5E5E5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light-grey);
}

/* HEADER STYLE START */

#header {
    display: flex;
    justify-content: space-between;
    max-height: 100px;
    padding: 15px 50px 10px 50px;
    background-color: var(--dark-grey);
    transition: 0.5s;
}

#header:hover {
    transform: scale(1.005);
    box-shadow: 0 5px 15px #404040;
}

.logo_wrapper {
    display: flex;
    width: 80px;
    height: 80px;
}

.logo_wrapper img {
    width: 100%;
}

.heading_name {
    height: 70px;
    padding: 5px 0 0 10px;
    justify-content: center;
    border-left: 2px solid black;
}

.heading_name h1,
.heading_name h3,
.navbar_header_li,
 #order h3 {
    font-family: 'Tenor Sans', sans-serif;
}

.heading_name h3 {
    letter-spacing: 11px;
}

.navbar_header_ul {
    display: flex;
}

.navbar_header_li {
    display: inline-block;
    height: 70px;
    margin: 0 15px;
    padding: 25px 10px 5px 10px;
    letter-spacing: 2px;
    border-radius: 0 0 5px 5px;
    list-style-type: none;
    transition: 0.5s;
}

.navbar_header_li:hover {
    transform: scale(1.05);
    box-shadow: 0 30px 15px #404040;
}

a{
    color: black;
    font-size: 20px;
    text-decoration: none;
}

a:visited {
    color: black;
}

/* HEADER STYLE END */

/* MAIN LEFT SECTION STYLE START */

.main {
    display: flex;
    height: 85vh;
    overflow: hidden;
    transition: 0.5s;
}

.main:hover {
    box-shadow: 0 10px 30px #404040;
}

.main_left_side {
    min-width: 40%;
}

.main_ul {
    margin: 20px;
    padding: 5px;
    height: 100%;
    overflow: auto;
}

.main_li {
    height: 80px;
    padding: 5% 0 0 33%;
    list-style-type: none;
    letter-spacing: 1px;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 10px 10px #BFBFBF;
    transition: 0.5s;
}

.main_li:hover {
    transform: scale(1.02);
    box-shadow: 0 30px 15px #404040;
}

.main_left_side h3,
.main_right_side h3 {
    margin: 20px 0 20px 20px ;
    font-size: 25px;
    font-family: 'Tenor Sans', sans-serif;
    letter-spacing: 2px;
}

#partners {
    transition: 0.5s;
}

#gallery {
    transition: 0.5s;
}

.article_wrapper {
    height: 100%;
    overflow: auto;
}

.article {
    display: flex;
    padding: 5px 0 5px 10px;
    height: 170px;
}

.article_img_wrapper {
    height: 100%;
    box-shadow: 5px 3px 10px #404040;
}

.article_img_wrapper img {
    height: 100%;
}

.article_paragraph_wrapper {
    padding: 0 15px;
    overflow: hidden;
}

.article_paragraph_wrapper p {
    font-size: 20px;
}

/* MAIN LEFT SECTION STYLE END */

/* ORDER SECTION STYLE START */

#order {
    background: url("./img/smoke.png") no-repeat fixed;
    transition: 0.5s;
}

#order:hover {
    box-shadow: 0 -10px 30px #404040;
}

#order h3 {
    margin-bottom: 30px;
    padding-top: 30px;
    padding-left: 45%;
    font-size: 25px;
}

.form_register {
    width: 50%;
    height: 350px;
    margin: 0 auto;
}

.name_input,
.lastname_input,
.password_input,
.email_input,
.gender_buttons {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 20px auto;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 20px;
}

label {
    line-height: 35px;
}

input {
    width: 65%;
    font-size: 20px;
    padding: 5px;
    font-family: 'Tenor Sans', sans-serif;
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--dark-grey);
    outline: 0;
}

#male,
#female {
    width: 15px;
    height: 15px;
    display: block;
    margin: auto 0;
    font-size: 20px;
}

button.btn_submit {
    display: block;
    width: 25%;
    height: 8%;
    margin: 0 auto;
    background: transparent;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

button.btn_submit:hover {
    box-shadow: 0 8px 20px #404040;
}

/* ORDER SECTION STYLE END */

/* FOOTER SECTION STYLE START */

footer {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    background-color: var(--dark-grey);
    transition: 0.5s;
}

footer:hover {
    box-shadow: 0 -5px 20px #404040;
}

.footer_left_side {
    width: 49%;
}

.footer_ul {
    display: flex;
    flex-direction: column;
}

.footer_ul_li,
.footer_ol_li {
    width: 300px;
    margin: 0 auto;
    padding: 10px 0;
    list-style-type: none;
    letter-spacing: 1px;
    font-family: 'Tenor Sans', sans-serif;
    transition: 0.5s;
}

.footer_ul_li:hover,
.footer_ol_li:hover {
    transform: translateX(7px) scale(1.05);
}

.footer_right_side {
    width: 49%;
}

/* FOOTER SECTION STYLE END */